body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url(lesson4bg.gif);
    background-size: cover;
    height: 100vh;
    color: #000000;
    text-align: center;
}

.navbar {
    font-size: medium;
    position: fixed;
    padding: 630px 0px;
    width: 100%;
    z-index: 1000;
}

.navbar li {
    display: flex;
    justify-content: center;
    margin-top: -3%;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.navbar a {
    background-color: #23012f;
    text-decoration: none;
    color: #b99de5;
    margin: 30px;
    padding: 8px 28px;
    border-radius: 10px;
    transition: background 0.6s;
}

.navbar a:hover {
    background: rgba(88, 23, 167, 0.854);
    outline-color: #8706ff;
    box-shadow: 0 4px 20px rgb(162, 0, 255);
    text-shadow: 2px 2px 5px rgb(106, 0, 255);
}

.container {
    margin-top: 100px;
    padding: 20px;
    background: rgba(106, 48, 163, 0.779);
    border-radius: 10px;
}

input[type="password"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 60%;
    max-width: 300px;
    margin: 10px 0;
    font-size: 1rem;
}

button {
    background: #ff6f61;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s;
}

button:hover {
    transform: scale(1.1);
}

.error {
    color: #ff3d3d;
    font-size: 0.9rem;
    margin-top: 10px;
}

.keyk {
    width: 600px;
    height: auto;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
}

.keyk-container {
    position: relative;
    display: inline-block;
}




